
<div class="container">
    <div class="row vh-100 ">
        <div class="col-12 text-center mt-4">
            <h3>API server is running and you can access to all api's </h3>
        </div>
    </div>
</div>